<nav class="navbar fixed-bottom navbar bg">
  
  <div class="container-fluid">
    <h4 style="float: left;">Sang Bet, nhà cái hàng đầu khu vực</h4>
    
    <audio controls autoplay loop>
      <source src="/Assets/musics/ucl.mp3" type="audio/mpeg">
  </audio>
    </div>
    
  </nav>