<nav class="navbar fixed-bottom navbar bg">
  
  <div class="container-fluid">
    <img src="/Assets/images/sangBet.png" alt="logo" height="35px" width="35px"> 
    <h4>Sang Bet, nhà cái hàng đầu khu vực</h4>
    <audio controls autoplay loop>
      <source src="/Assets/musics/ucl.mp3" type="audio/mpeg">
  </audio>
    </div>
    
  </nav>