<nav class="navbar fixed-bottom navbar-dark bg-light">
  
  <div class="container-fluid">
    <img src="/Assets/images/sangBet.png" alt="logo" height="45px" width="45px"> 
    <h4>Sang Bet - Nhà cái hàng đầu khu vực</h4>
    </div>
    
  </nav>