<nav class="navbar fixed-bottom navbar-dark bg-light">
  
  <div class="container-fluid">
    <img src="/Assets/images/sangBet.png" alt="logo" height="35px" width="35px"> 
    <h5>Sang Bet - Nhà cái hàng đầu khu vực</h5>
    </div>
    
  </nav>