<nav class="navbar navbar-dark bg-light">
  
  <div class="container-fluid">
    <img src="/Assets/images/logo.JPG" alt="logo" height="45px" width="45px"> 
    <h4>Nothing is impossible</h4>
      <ul class="nav flex-column ms-auto">
        <li class="nav-item">
          Contact Me Through:
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/https://www.facebook.com/nguyen.tiensang.3/">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ntbs17198@gmail.com">Gmail</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/https://www.linkedin.com/">LinkeDin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/https://discord.com/">Discord</a>
        </li>
        </li>
      </ul>
    </div>
    
  </nav>