<nav class="navbar navbar-expand-lg navbar bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home" style="color: black;"><img src="/Assets/images/sangBet.png" alt="logo" height="30px" width="30px"> Sang Bet nhà cái hàng đầu khu vực</a>
      
      <button class="navbar-toggler navbar-dark bg-dark" style="color: aliceblue;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <!-- Clothing List Secure area and Authentication Links -->
          <li class="nav-item">
            <a class="nav-link" href="/contact-list" style="color: aliceblue;"><i class="fas fa-dice"></i></i> <i class="fas fa-futbol"></i> Brazil-Argentina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-list1" style="color: aliceblue;"><i class="fas fa-dice"></i></i> <i class="fas fa-futbol"></i> Anh-Ý</a>
          </li>

          <% if(displayName) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout" style="color: aliceblue;"><i class="fas fa-sign-out-alt fa-lg"></i> Đăng xuất</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login" style="color: aliceblue;"><i class="fas fa-sign-in-alt fa-lg"></i> Đăng nhập</a>
          </li>
          <% } %>
          
        </ul>
      </div>
    </div>
  </nav>