<div class="container">
    <h1>About Me</h1>
    <hr>
    <table>
      <tbody>
        <tr>
          <td><img src="/Assets/images/myImage.jpg" alt="myImage" height="300px" width="220px"></td>
          <td style="width: 50%;">
            <h5>Name: Sang Nguyen. <br>Country: Vietnam. <br>Program: Software Engineering <br>School: Centennial College </h5>
            <h6>"I am an dedicated at working and adept at handling multiple tasks"</h6>
            <h6>"Furthermore I am ambitious and willing to help everyone else".</h6>
          </td>
        </tr>
      </tbody>
    </table>
  </div>