<div class="center">
   <img src="/Assets/images/Wales.png" alt="logo" height="250px" width="250px" >                    <img src="/Assets/images/Ã.png" alt="logo" height="250px" width="250px">
   <hr>
   <img src="/Assets/images/bale.jpg" alt="logo" height="250px" width="250px" >                    <img src="/Assets/images/insigne.jpg" alt="logo" height="250px" width="250px">
   
</div>