    <h1 style="color: #648cff;">Mission</h1>
    <hr>
    <p style="font-size: 30px; text-align: center;"><em>"Dedicate the best to the software community"</em></p>
    <h6 style="text-align: center;">Sang Nguyen.</h6>
    <hr>
    <button class="btn btn-primary bt-lg" id="btnToAboutMe" onclick="clickToAbout">About Me</button>