    <h1>Projects</h1>
    <hr>
    <h4 style="text-align: center;">Currently, I'm not working on any projects, but these projects below are my goal</h4>
    <hr>
    <table>
      <tr>
        <td>
          <img src="/Assets/images/DataProject.jpg" alt="Data"> 
          <br>
          <h5 style="text-align: center;">
            <em>
              "A Junior Data Analysis"
            </em>
          </h5>
        </td>
        <td>
          <img src="/Assets/images/javaProject.jpg" alt="Java" style="height: 183px;">
          <br>
          <h5 style="text-align: center;">
            <em>
               "Developer for Java App"
            </em>
          </h5>
        </td>
        <td>
          <img src="/Assets/images/AIProject.jpg" alt="AI" style="height: 183px;">
          <br>
          <h5 style="text-align: center;">
            <em>
              "Developer for AI assistance"
            </em>
          </h5>
        </td>
         <td>
          <img src="/Assets/images/AIProject.jpg" alt="AI" style="height: 183px;">
          <br>
          <h5 style="text-align: center;">
            <em>
              "Developer for AI assistance"
            </em>
          </h5>
        </td>
        </td>
         <td>
          <img src="/Assets/images/AIProject.jpg" alt="AI" style="height: 183px;">
          <br>
          <h5 style="text-align: center;">
            <em>
              "Developer for AI assistance"
            </em>
          </h5>
        </td>
        <td>
          <img src="/Assets/images/AIProject.jpg" alt="AI" style="height: 183px;">
          <br>
          <h5 style="text-align: center;">
            <em>
              "Developer for AI assistance"
            </em>
          </h5>
        </td>
      </tr>
    </table>