<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
          <div class="login" id="contentArea">
              <h1 class="display-4">Đăng ký đi mấy cha</h1>

              <% if(messages.length > 0) { %>
                <div id="messageArea" class="alert alert-danger">
                  <%= messages %>
                </div>
              <% } %>

              <form method="POST" id="registerForm" novalidate>
                <div class="form-group">
                  <div class="row">
                    <p class="lead"><i class="fas fa-user-shield"></i> Thông tin cá nhân</p>
                    <div class="col-md-6">
                      <input class="form-control" type="text" name="FirstName" id="firstName" placeholder="Tên" required>
                    </div>
                    <div class="col-md-6">
                      <input class="form-control" type="text" name="LastName" id="lastName" placeholder="Họ" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="email" class="form-control" id="emailAddress" name="EmailAddress" required
                      value="" placeholder="email">
                    </div>
                  </div>
                </div>

                <div class="form-group mt-4">
                  <div class="row">
                    <p class="lead"><i class="fas fa-database"></i>Tài khoản</p>
                    <div class="col-md-12">
                      <input type="text" class="form-control" id="username" name="username"  required
                      value="" placeholder="tên đăng nhập">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="password" class="form-control" id="password" name="password"  required
                      value="" placeholder="mật khẩu">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"  required
                      value="" placeholder="Confirm Password">
                    </div>
                  </div>
                </div>
                 
                                                    
                <div class="text-end mt-2">
                  <button id="submitButton" type="submit" class="btn btn-primary">Đăng ký</button>
                  <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Hủy</button>
                </div>
              </form>
             
          </div>
          <p class="text-center text-muted small">
            Có account rồi mà còn vô đây? Ngu dốt...
            <a href="/login">Đăng nhập</a>
          </p>
    </div>
</div>